<h1>Important!</h1>

<ul>
  {{#each model as |announcement|}}
  <!-- rendering our new component by calling: -->
  <!-- declare rental-in-component = rental-in-template in order to correctly pass the component the object(s) it needs, on the rent -->
  <!-- component = route handler -->
    {{announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'index'}}Index{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
{{#link-to 'announcement'}}Announcements{{/link-to}}
